*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #0a023b;
  font-family: Verdana, Tahoma, Arial;
}

.btn {
  cursor: pointer;
}

.message {
  font-weight: bold;
}

.message .normal {
  font-weight: normal;
  font-size: 14px;
}

.top-nav {
  margin: 10px 20px;
}

.top-nav a {
  text-decoration: none;
  margin: 5px;
}

.top-nav .item-holder * {
  margin-left: 15px;
}

.page {
  margin-left: 20px;
  margin-right: 20px;
}

ol,
ul {
  line-height: 30px;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 5px 10px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.waiting-page {
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 3px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.waiting-page div {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

/* Login and Register */
.auth-container .background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%; 
}
.auth-container .background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.auth-container .shape:first-child{
  background: linear-gradient(
      #1845ad,
      #23a2f6
  );
  left: -80px;
  top: -80px;
}
.auth-container .shape:last-child{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -30px;
  bottom: -80px;
}
.auth-container form{
  height: 570px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.auth-container form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.auth-container form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.auth-container label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.auth-container input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
.auth-container ::placeholder{
  color: #e5e5e5;
}
.auth-container .button{
  margin-top: 40px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 0px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 250ms;
}
.auth-container .button:hover,
.auth-container .button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.auth-container .button:hover {
  transform: translateY(-3px);
}

.auth-container .button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}