/* Global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: var(--color-secondary);
	scroll-behavior: smooth;
}
:root {
	--color-primary: hsl(100, 50%, 90%);
	--color-primary-hover: hsl(100, 50%, 85%);
	--color-primary-active: hsl(100, 50%, 95%);
	--color-primary-barely-dark: hsl(100, 50%, 85%);
	--color-primary-darkened: hsl(100, 50%, 80%);
	--color-secondary: hsl(100, 50%, 10%);
	--color-accent: hsl(160, 80%, 20%);
	--color-accent-hover: hsl(160, 80%, 15%);
	--color-accent-active: hsl(160, 80%, 25%);
	--color-tertiary: hsl(40, 80%, 20%);
	--color-links: purple;
	--text-p: 1rem;
	--text-h6: 1.25rem;
	--text-h5: 1.563rem;
	--text-h4: 1.953rem;
	--text-h3: 2.441rem;
	--text-h2: 3.052rem;
	--text-h1: 3.815rem;
	--toastify-color-success: var(--color-accent);
}
.button {
	width: 100%;
	background-color: var(--color-accent);
	color: var(--color-primary);
	padding: 0;
	font-size: var(--text-p);
	border-radius: 5px;
	cursor: pointer;
	transition: all 250ms;
	border: 2px solid var(--color-accent);
}
.button-transparent {
	background-color: rgba(0, 0, 0, 0);
	color: var(--color-accent);
}
body {
	background: var(--color-primary);
}
ol,
ul {
	line-height: 30px;
}

/* Loading Page */
.waiting-page {
	position: fixed;
	top: 25%;
	left: 25%;
	right: 25%;
	bottom: 25%;
	width: 50%;
	height: 50%;
	box-shadow: 0 0 3px 5px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.waiting-page div {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

/* Login and Register */
.auth-container .background {
	width: 430px;
	height: 520px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}
.auth-container .background .shape {
	opacity: 50%;
	height: 200px;
	width: 200px;
	position: absolute;
	border-radius: 50%;
}
.auth-container .shape:first-child {
	background: linear-gradient(hsl(160, 80%, 20%), hsl(160, 80%, 40%));
	background: linear-gradient(hsl(160, 80%, 20%), hsl(160, 80%, 40%));
	left: -80px;
	top: -80px;
}
.auth-container .shape:last-child {
	background: linear-gradient(
		to right,
		hsl(100, 50%, 30%),
		hsl(100, 50%, 20%)
	);
	right: -30px;
	bottom: -80px;
}
.auth-container form {
	height: auto;
	width: 400px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	padding: 50px 35px;
}
.auth-container form * {
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.5px;
	outline: none;
	border: none;
}
.auth-container form h3 {
	font-size: var(--text-h3);
	font-weight: 500;
	line-height: 42px;
	text-align: center;
}
.auth-container label {
	display: block;
	margin-top: 30px;
	font-size: var(--text-p);
	font-weight: 500;
}
.auth-container input {
	display: block;
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	padding: 0 10px;
	margin-top: 8px;
	font-size: var(--text-p);
	font-weight: 300;
}
.auth-container ::placeholder {
	color: (var(--color-accent));
	opacity: 0.5;
}
.auth-container .button {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 100%;
	background-color: var(--color-accent);
	color: var(--color-primary);
	padding: 0;
	font-size: var(--text-p);
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
	transition: all 250ms;
}
.auth-container .button:hover,
.auth-container .button:focus {
	background-color: var(--color-accent-hover);
}
.auth-container .button:hover {
	transform: translateY(-3px);
}
.auth-container .button:active {
	background-color: var(--color-accent-active);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	transform: translateY(0);
}
.auth-container .logout-redirect {
	position: absolute;
	left: 40%;
}
.auth-container a:hover {
	color: var(--color-links);
	transition: all 250ms;
}
.auth-container .login-checkbox {
	margin-top: -10px;
	list-style-type: none;
}
.auth-container .login-checkbox li {
	float: left;
}
.auth-container .checkbox {
	margin-top: 19px;
	margin-left: 5px;
	width: 14px;
}
/* Auth for small screens */
@media only screen and (max-width: 500px) {
	.auth-container .background {
		width: auto;
	}
	.auth-container .shape:first-child {
		left: auto;
	}
	.auth-container .shape:last-child {
		right: 0px;
	}
}
/* Auth for smallest sceens */
@media only screen and (max-width: 400px) {
	.auth-container form {
		width: 300px;
	}
	.auth-container .shape:first-child {
		left: -50px;
	}
	.auth-container .shape:last-child {
		right: -50px;
	}
}
/* Navbar */
nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--color-primary);
	box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
	z-index: 3;
	position: relative;
}
nav .logo {
	width: 200px;
	cursor: pointer;
	display: block;
}
@media only screen and (max-width: 420px) {
	nav .logo {
		width: 30vw;
	}
}
nav ul {
	list-style: none;
	padding: 10px;
}
nav .navbar-right {
	flex-grow: 1;
	text-align: right;
}
nav .navbar-left {
	flex: 1;
	list-style: none;
	text-align: left;
	padding: 10px;
}
/* Navbar buttons */
nav .button {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 50px;
	background-color: var(--color-accent);
	color: var(--color-primary);
	padding: 5px 10px;
	text-decoration: none;
}
nav .button-transparent {
	background-color: rgba(0, 0, 0, 0);
	color: var(--color-accent);
}
nav .button:hover,
nav .button:focus {
	color: var(--color-primary);
	background-color: var(--color-accent-hover);
	border: 2px solid var(--color-accent-hover);
}
nav .button:active {
	background-color: var(--color-accent-active);
	border: 2px solid var(--color-accent-active);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}
/* Welcome page styling */
.welcome-image {
	width: 100%;
	box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
	margin-bottom: 10px;
}
.first-section-text {
	position: absolute;
	margin-left: 50vw;
	margin-top: 12vw;
	margin-right: 5vw;
}
.button-box {
	display: flex;
	margin-top: 20px;
}
.button-box a {
	text-decoration: none;
	margin-right: 20px;
	padding: 5px;
}
.first-section-text .button-transparent {
	background-color: var(--color-primary);
}
.first-section-text .button:hover,
.first-section-text .button:focus {
	background-color: var(--color-accent-hover);
	border-color: var(--color-accent-hover);
}
.first-section-text .button:hover {
	transform: translateY(-3px);
}
.first-section-text .button:active {
	background-color: var(--color-accent-active);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	transform: translateY(0);
	border-color: var(--color-accent-active);
}
.first-section-text .button-transparent:hover,
.first-section-text .button-transparent:hover {
	color: var(--color-primary);
}
.first-section-text a {
	width: max-content;
}
.first-section-text h1 {
	color: var(--color-primary);
	text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}
.first-section-text h3 {
	color: var(--color-primary);
	text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 600px) {
	.first-section-text h1 {
		font-size: var(--text-h5);
		text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
	}
	.first-section-text h3 {
		display: none;
	}
	.first-section-text a {
		font-size: var(--text-p);
		margin-bottom: 5px;
	}
	.button-box {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (min-width: 600px) {
	.first-section-text h1 {
		font-size: var(--text-h4);
		text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
	}
	.first-section-text h3 {
		font-size: var(--text-h5);
		text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	}
	.first-section-text a {
		font-size: var(--text-p);
	}
}
@media only screen and (min-width: 768px) {
	.first-section-text h1 {
		font-size: var(--text-h3);
		text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
	}
	.first-section-text h3 {
		font-size: var(--text-h4);
		text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
	}
	.first-section-text a {
		font-size: var(--text-h6);
	}
}
@media only screen and (min-width: 992px) {
	.first-section-text h1 {
		font-size: var(--text-h1);
	}
	.first-section-text h3 {
		font-size: var(--text-h3);
	}
	.first-section-text a {
		font-size: var(--text-h5);
	}
}
/* Welcome page info cards */
.info-card-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.info-card-icons {
	position: absolute;
	bottom: 0;
	right: 0%;
	margin: 20px 20px;
	font-size: var(--text-h1);
}
.info-card {
	position: relative;
	width: 400px;
	background: linear-gradient(hsl(160, 80%, 20%), hsl(160, 80%, 40%));
	border-radius: 5px;
	padding: 20px 20px;
	padding-bottom: 100px;
	margin: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.info-card h2 {
	color: var(--color-primary);
	font-size: var(--text-h2);
	text-align: center;
	font-weight: 500;
}
.info-card h4 {
	margin-top: 10px;
	color: var(--color-primary);
	font-size: var(--text-h4);
	font-weight: 300;
}
/* Accordion menus */
.FAQ-section h1 {
	font-size: var(--text-h2);
	color: var(--color-secondary);
	margin: 20px 20px;
}
.FAQ-box {
	margin: 10px 10px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.accordion {
	font-size: var(--text-h4);
	background-color: var(--color-accent);
	color: var(--color-primary);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.active,
.accordion:hover {
	background-color: var(--color-accent-hover);
}

/* Accordion panel, hidden by default */
.panel {
	padding: 0 18px;
	background-color: var(--color-accent);
}
.panel p {
	font-size: var(--text-h5);
	color: var(--color-primary);
	margin: 10px 10px;
}
.accordion:after {
	content: "\02795";
	font-size: var(--text-h4);
	float: right;
	margin-left: 5px;
	color: #007bff !important;
}

.active:after {
	content: "\2796";
}
.about-us-info {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.about-us-section {
	margin: 20px 20px;
}
.about-us-section h1 {
	font-size: var(--text-h2);
	margin-top: 10px;
	margin-bottom: 20px;
}
.about-us-section h2 {
	font-size: var(--text-h4);
	font-weight: 600;
}
.person {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.person-info {
	display: flex;
}
.person-info ul {
	margin-left: 10px;
	margin-right: 10px;
	list-style-type: none;
}
.person-info li {
	font-size: var(--text-h6);
}
.person-1 {
	border-right: 2px solid var(--color-secondary);
}
.person-2 {
	text-align: right;
}
@media only screen and (max-width: 960px) {
	.person-1 {
		border-right: none;
	}
	.person-2-div {
		margin-top: 30px;
	}
	.person-2 {
		text-align: left;
	}
}
/* Welcome page footer */
.auth-footer {
	position: absolute;
	bottom: 0;
}
footer {
	margin-top: auto;
	margin-left: 10px;
	margin-right: 10px;
}
footer p {
	font-size: var(--text-h6);
}
footer a {
	font-size: var(--text-h6);
	opacity: 75%;
}
.footer-links {
	margin-left: 10px;
	text-decoration: none;
	opacity: 100%;
}
.footer-links:hover {
	color: var(--color-links);
	transition: all 250ms;
}
.google-translate {
	margin-left: 20px;
}
/* Dashboard */
.dashboard-main {
	display: flex;
	justify-content: center;
}
.info-text {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.dashboard-action {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.all-budgets {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
}
.dashboard h2 {
	font-size: var(--text-h2);
}
.dashboard h4 {
	font-size: var(--text-h4);
}
.accent {
	color: var(--color-accent);
}
.dashboard {
	padding: 15px;
}

/* Components Form */
.form-wrapper {
	width: 290px;
	display: inline-grid;
	align-items: center;
	border: 1px solid var(--color-accent);
	box-shadow: 0 0 20px rgba(0, 4, 4, 0.25);
	border-radius: 5px;
	padding: 10px;
	margin-top: 15px;
}
@media only screen and (max-width: 650px) {
	.form-wrapper {
		margin-right: 0px;
	}
	.expense {
		margin-left: 1vw !important;
	}
	.expense {
		margin-left: 0.5vw !important;
	}
}
/* Margin only for create budget form */
.budget-box-page-view {
	margin-left: 20px;
	height: 233px;
	align-items: flex-start;
}
.budget-form h5 {
	font-size: var(--text-h4) !important;
}
.form-wrapper h5 {
	font-size: var(--text-h5);
	margin-bottom: 10px;
}
.form-wrapper label {
	font-size: var(--text-h6);
}
.form-wrapper input {
	display: block;
	text-align: center;
	width: 100%;
	height: 35px;
	font-size: var(--text-p);
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid var(--color-accent);
	border-radius: 5px;
	opacity: 50%;
	margin-bottom: 10px;
}
.form-wrapper input::placeholder {
	color: var(--color-accent);
}
.form-wrapper button {
	margin-top: 5px;
	padding: 5px;
}
.form-wrapper button:hover,
.form-wrapper button:focus {
	background-color: var(--color-accent-hover);
	color: var(--color-primary);
	border: 2px solid var(--color-accent-hover);
}
.form-wrapper button:hover {
	transform: translateY(-3px);
}
.form-wrapper button:active {
	border: 2px solid var(--color-accent-active);
	background-color: var(--color-accent-active);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	transform: translateY(0);
}
.form-wrapper .submit-span {
	color: var(--color-primary);
	font-weight: 500;
}
.form-wrapper select {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px solid var(--color-accent);
}

/* Budget Item */
.progress-text h6 {
	font-size: var(--text-h6);
}
.progress-text small {
	font-size: var(--text-p);
}
.bottom {
	margin-bottom: 5px;
}
.budget-box .link:hover {
	color: var(--color-links);
	transition: all 250ms;
}
.budget-box .link {
	font-weight: 600;
}
/* Budget Page */
.budget-item h5 {
	font-size: var(--text-h3);
}
.budget-item h6 {
	font-size: var(--text-h5);
}
.expense {
	margin-left: 40px;
}
table {
	width: 100%;
	font-size: var(--text-h5);
	text-align: center;
	border: 2px solid var(--color-accent);
	border-radius: 15px;
}
th {
	color: var(--color-primary);
}

table tr:first-child th:first-child {
	border-top-left-radius: 10px;
}

table tr:first-child th:nth-last-child(2) {
	border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 425px) {
	table {
		font-size: 5vw;
	}
}

thead > tr:nth-child(odd) {
	background-color: var(--color-accent);
}
tr:nth-child(odd) {
	background-color: var(--color-primary-darkened);
}
tr {
	height: 60px;
}
.button-trashcan {
	padding: 5px 10px;
	background-color: var(--color-primary);
	border-radius: 5px;
	border-color: var(--color-accent);
	cursor: pointer;
	transition: all 250ms;
}
.button-trashcan:hover,
.button-trashcan:focus {
	background-color: var(--color-primary-hover);
}
.button-trashcan:hover {
	transform: translateY(-3px);
}
.button-trashcan:active {
	background-color: var(--color-primary-active);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	transform: translateY(0);
}
.trashcan-icon {
	font-size: var(--text-h5);
}
.budget-page {
	margin: 10px 20px;
}
.budget-page h2 {
	font-size: var(--text-h2);
}
/* Progress bars */
progress {
	-webkit-appearance: none;
	appearance: none;
}
progress {
	width: 95%;
	border: none;
	border-radius: 5px;
	background-color: var(--color-primary-darkened);
	overflow: hidden;
	margin-bottom: 5px;
}

/* Chrome, Safari */
progress::-webkit-progress-bar {
	background-color: var(--color-primary-darkened);
}

progress::-webkit-progress-value {
	background-color: var(--color-accent);
	border-radius: 5px;
}

/* Firefox */
progress::-moz-progress-bar {
	background-color: var(--color-primary-darkened);
	border-radius: 5px;
}

/* For older browsers */
progress[value] {
	color: var(--color-primary-darkened);
}
progress::-webkit-progress-value {
	transition: width 0.5s ease;
}

.loader-parent {
	display: flex;
	justify-content: center; /* Horizontal alignment */
	align-items: center; /* Vertical alignment */
	height: 100vh;
}
.loader {
	border: 16px solid var(--color-primary-darkened);
	border-top: 16px solid var(--color-accent);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Profile Page */
.profile-page header h2 {
	font-size: var(--text-h2);
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 5px;
}
.profile-page h5 {
	align-items: center;
	justify-self: center;
	font-size: var(--text-h5);
}
.profile-page h4 {
	font-size: var(--text-h5);
}
.profile-info-div {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.profile-form {
	justify-content: center;
	width: 400px;
	margin-bottom: 50px;
}
.user-info {
	height: 200px;
}
@media only screen and (max-width: 420px) {
	.profile-form {
		width: 90vw;
	}
}
.accent-name {
	font-family: "Bree Serif", serif;
}
